%btn {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  background: transparent;
  padding: 1rem 3rem;
  width: auto;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 0.5rem;
  border:0.2rem solid $second;


  @media (max-width: 500px){
    width: 100%;
  }
}

.btn-prime {
  @extend %btn;
  font-family: $fontSecond;
  font-weight: 500;
  line-height: 3.6rem;
  transition: 0.1s;
  text-transform: uppercase;

  a{
    color: $second;
    text-decoration: none;
  }
  &:hover {
    a{
      color: $prime;
      text-decoration: none;
    }

    background: $primeShade;
      }
}

.btn-second {
  @extend %btn;
  margin-left: 2rem;
  font-size: 1.8rem;
  font-family: $fontSecond;
  font-weight: 400;
  line-height: 3.6rem;
  padding: 1.5rem 3.5rem 1rem 3.5rem;
  transition: 0.1s;
  text-transform: uppercase;
  background-color:$second;

  a{
    color: $prime;
    text-decoration: none;
  }
  &:hover {
    a{
      color: $prime;
      text-decoration: none;
    }

    background: $primeShade;
  }
  @media screen and (max-width: $small-screen-up) {
    font-size: 1.2rem;
    line-height: 2.5rem;
    padding: 2rem 3.5rem 2rem 3.5rem;
    margin-left: 0rem;
  }
}

.btn-submit{
  @extend %btn;
  background: $second;
  background: $prime;
  font-family: $fontSecond;
  font-weight: 200;
  padding: 2rem 3rem; 
  line-height: 0;
  transition: 0.1s;
  &:hover{
        background: $primeShade;
      }
}

.btn-outline {
  @extend %btn;
  background: transparent;
  border: 2px solid #fff;

  &:hover {
    background: #fff;
    color: $fontColor_second;
  }
}

.btn-small {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  background: $prime;
  font-family: $fontSecond;
  line-height: 1rem;
  transition: 0.1s;
}

.btn-large {
  font-size: 1.8rem;
  padding: 1.9rem 5.1rem;
}

.btn-portfolio{
  width: auto;
  margin: 0 auto;
  padding: 0.4rem 1rem;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 1.5rem;
  font-family: $fontSecond;
  font-weight: 300; 
  line-height: 2.4rem;
  transition: 0.5s;
  &:hover{
    background: $prime;
    color: $second;
  }
}
.active{
  @extend .btn-portfolio
} 
