
// ---------------------------
// Layouts and containers
// ---------------------------
*{
  margin: 0;
  padding: 0;
}
div, p, section, footer, header, aside {
  box-sizing: border-box;
}
.section{
  padding-top: 5rem;
  padding-bottom: 5rem;
  @media screen and (max-width: 70rem) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
//.wrap {
//  max-width: $mainContainer;
//  padding-left: $containerHorIndent;
//  padding-right: $containerHorIndent;
//  margin: 0 auto;
//
//  @media (max-width: 120rem){
//    padding-left: $containerHorIndentMobile;
//    padding-right: $conta//inerHorIndentMobile;
//  }
//}







