// typography
$fontBase: 'Roboto', sans-serif;
$fontSecond: 'Helvetica', sans-serif;
$fontColor_prime: #ffae00;
$fontColor_second: #ffffff;


//Colors
//Orange
$orange: #ff8400;
//White
$white:   #fff;
$whiteGray:  #f2f0e9;

//black
$black: #1d1c1c;
$lightblack: #1c2d33;
$darkblack: #fffff0;

//Pink
$pink: #f9414c;


// Brand Colors
$prime: $pink;
	$primeShade: $whiteGray;
$second: $white;
	$secondShade: $whiteGray;
$third: $orange;
$fourth: $black;
	$fourthShade:$lightblack;
	$fourthtext: $darkblack;


//// Hover effects
$hoverEffect: 10%;

// Size
$mainContainer: 140rem;

// Indents updated
// --------------------------------------------------
$containerHorIndent: 11.5rem;
$containerVerIndent: 10 rem;

// Indents updated
// --------------------------------------------------
$containerHorIndentMobile: 3%;
$containerVerIndentMobile: 4rem;