@import "core";

.hero{
  position: relative;
  background: url("../img/bg/bg-poly.jpg") no-repeat center center fixed;
  background-color: $third;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: table;
  z-index: 1;
    &:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.85;
      background: url("../img/bg/bg.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;

      .navig{
        display: inline-block;
        .menu-trigger {
          display: none;
          color: $second;
          @media screen and (max-width: $small-screen-up) {
            display: block !important;
            font-size: 4rem;
          }
        }
      }
  }






      //.navig {
      //
      //  }
      //  ul{
      //    display: inline-block;
      //    @media screen and (max-width: $small-screen-up) {
      //      display: none;
      //    }
      //  }
      //  li{
      //    display: inline-block;
      //    @media screen and (max-width: $small-screen-up) {
      //      display: block;
      //    }
      //  }
      //  a {
      //    font-family: $fontBase;
      //    font-size: 1.8rem;
      //    line-height: 6.8rem;
      //    font-weight: 400;
      //    text-decoration: none;
      //    color: $second;
      //    padding-right: 1.5rem;
      //    transition: 0.3s;
      //    &:hover {
      //      color: $third;
      //    }
      //    @media screen and (max-width: $small-screen-up) {
      //      font-size:1rem;
      //    }
      //  }
      //}


//header end

//phone and text
.main-area {
  padding-top:13rem;
  @media screen and (max-width: $small-screen-up) {
    padding-top:6rem;
    padding:0 1.5rem;
  }
  .text-content {

    @media screen and (max-width: $small-screen-up) {
      display: block;
    }

    .main-text {
      padding-top:4rem;
      button{
        margin-top: 10rem;
        @media screen and (max-width: $small-screen-up) {
          margin-top: 3rem;
        }
      }
    }
    .phone {
      display: block;
      padding-right: 4rem;
      @media screen and (max-width: $small-screen-up) {
        display: none;
      }
      .br-phone {
        width: 30rem;
        height: 58rem;
        border-radius: 3.5rem;
        border: 0.3rem solid #ffffff;
        .camera {
          width: 1rem;
          height: 1rem;
          background-color: #ffffff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin-top: 2rem;
        }
        .micropphone {
          width: 7.5rem;
          height: 0.5rem;
          border-radius: 0.2rem;
          background-color: rgba(255, 255, 255, 0.55);
          margin-top: 1rem;
        }
        .screen {
          width: 27rem;
          height: 43.9rem;
          border-radius: 0.5rem;
          background-color: rgba(255, 255, 255, 0.25);
          margin-top: 2rem;
        }
        .button-home {
          width: 4.6rem;
          height: 4.6rem;
          border: 0.3rem solid #ffffff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin-top: 1rem;
        }
      }
    }
  }
  }
  }


